<% if notice.present? %>
  <div class="alert alert-danger" role="alert">
    <%= notice %>
  </div>
<% end %>
<div class="row">
    <div class="col-6">
      <h1>Order</h1>
    </div> 
    <div class="col-6 ">
      <%= link_to 'Back', orders_path , class: "btn btn-outline-primary float-right ml-2" %>
      <%= link_to 'Edit', edit_order_path(@order) , class: "btn btn-outline-primary float-right ml-2" %>
    </div> 
</div>
<div class="page">
  <div class="form-row">
    <div class="form-group col-md-6">
      <strong>Sender name:</strong>
      <p class="form-control  w-100">
        <%= @order.sender_name %>
      </p>
    </div>
    <div class="form-group col-md-6">
      <strong>Receiver name:</strong>
      <p class="form-control  w-100">
        <%= @order.receiver_name %>
      </p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <strong>Sender Email:</strong>
      <p class="form-control  w-100">
        <%= @order.sender_email %>
      </p>
    </div>
    <div class="form-group col-md-6">
      <strong>Receiver Email:</strong>
      <p class="form-control  w-100">
        <%= @order.receiver_email %>
      </p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <strong>Sender Address:</strong>
      <p class="form-control  w-100"><%= @order.sender_address %></p>
    </div>
    <div class="form-group col-md-6">
      <strong>Receiver Address:</strong>
      <p class="form-control  w-100"><%= @order.receiver_address %></p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <strong>Sender Mobile:</strong>
      <p class="form-control  w-100">
        <%= @order.sender_mobile %>
      </p>
    </div>
    <div class="form-group col-md-2">
      <strong>Sender Pincode:</strong>
      <p class="form-control  w-100">
        <%= @order.sender_pincode %>
      </p>
    </div>
    <div class="form-group col-md-4">
      <strong>Receiver Mobile:</strong>
      <p class="form-control  w-100">
        <%= @order.receiver_mobile %>
      </p>
    </div>
    <div class="form-group col-md-2">
      <strong>Receiver Pincode:</strong>
      <p class="form-control  w-100">
        <%= @order.receiver_pincode %>
      </p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <strong>Weight:</strong>
      <p class="form-control  w-100">
        <%= @order.weight %>
      </p>
    </div>
    <div class="form-group col-md-2">
      <strong>Type Of Service:</strong>
      <p class="form-control  w-100">
        <%= @order.type_of_service %>
      </p>
    </div>
    <div class="form-group col-md-4">
      <strong>Cost Of Service:</strong>
      <p class="form-control  w-100">
        <%= @order.cost_of_service %>
      </p>
    </div>
    <div class="form-group col-md-2">
      <strong>Payment Mode:</strong>
      <p class="form-control  w-100">
        <%= @order.payment_mode %>
      </p>
    </div>
  </div>

</div>